@model eNamjestaj.Web.Areas.ModulKupac.ViewModels.NarudzbaStavkeIndexVM

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

@if (Model != null)
{
    <h1>Korpa stavke</h1>
    <br />
    <input type="hidden" value="@Model.NarudzbaID" />
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>Proizvod</th>
                <th>Vrsta proizvoda</th>
                <th>Boja</th>
                <th>Cijena</th>
                <th>Popust</th>
                <th>Konacna cijena</th>
                <th>Kolicina</th>
                <th>Ukupno</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.proizvodiNarudzbe)
            {
                <tr>
                    <td>@x.Proizvod</td>
                    <td>@x.VrstaProizvoda</td>
                    <td>@x.Boja</td>
                    <td>@x.Cijena</td>
                    <td>@x.Popust</td>
                    <td>@x.KonacnaCijena</td>
                    <td>@x.Kolicina</td>
                    <td>@x.Total</td>
                    <td><a href="/ModulKupac/NarudzbaStavke/Obrisi?id=@x.NarudzbastavkaID&&narudzbaID=@Model.NarudzbaID" class="btn btn-danger">Obriši</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <div>TOTAL: </div>
    <div>@Model.SumTotal KM</div>
    <br />
    <a href="/ModulKupac/Proizvodi/Index" style="text-align:left">Back to shopping</a>
    @*<button id="submitBtn" ajax-poziv="da" ajax-rezultat="ajaxDiv" ajax-url="/Dostava/Index?narudzbaId=@Model.NarudzbaID&total=@Model.SumTotal" class="btn btn-primary" style="float:right">Način dostave</button>*@

    <a href="/ModulKupac/Dostava/Index?narudzbaId=@Model.NarudzbaID&total=@Model.SumTotal" class="btn btn-primary" style="float:right">
        Način dostave
    </a>


    <br />
    <br />
    <div id="ajaxDiv"></div>

    <script>

            $("button[ajax-poziv='da']").click(function (event) {

                var btn = $(this);

                var url = btn.attr("ajax-url");
                var r = btn.attr("ajax-rezultat");

                $.get(url,
                    function (rezultat, status) {
                        $("#" + r).html(rezultat);

                    });
            });



    </script>



}
else
{
    <br />
    <br />
    <div style="color:black;">Nema proizvoda u korpi!</div>
}



