@model  eNamjestaj.Web.ViewModels.NarudzbeDetaljiVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />

<h1>Detalji</h1>
<br />

<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Proizvod</th>
            <th>Cijena</th>
            <th>Količina</th>
            <th>Boja</th>
            <th>Dostava</th>
            <th>Stavka total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.DetaljiNarudzbe)
        {
            <tr>
                <td>@x.Proizvod</td>
                <td>@x.Cijena</td>
                <td>@x.Kolicina</td>
                <td>@x.Boja</td>
                <td>@x.Dostava</td>
                <td>@x.Total</td>
            </tr>
        }
    </tbody>
</table>

<br />

<div>TOTAL: @Model.SumTotal</div>
