@model eNamjestaj.Web.Areas.ModulKupac.ViewModels.ProizvodiDetaljiVM
@using Microsoft.AspNetCore.Http
@using eNamjestaj.Data.Helper
@using eNamjestaj.Data.Models

@{
        if (Context.GetLogiraniKorisnik() == null)
        {
            Layout = "_LayoutAnonim";
        }
}
<h1>Detalji proizvoda</h1>

<br />

<form action="/ModulKupac/Proizvodi/ProvjeraKolicine">
    <div class="row">

        <input type="hidden" name="Brojac" value="@Model.Brojac" />
        @*<input type="hidden" name="Popust" value="@Model.Popust" />*@
        <div class="col-xl-5">
            @if (Model.Popust != null && Model.Popust != 0)
            {
                <p><b> @Model.Naziv </b>  <span style="color:red; margin-left:10px; "> -@Model.Popust % </span> </p>
            }
            else
            {<p><b> @Model.Naziv </b> </p>}
            <img class="img-thumbnail" src="@Url.Content(@Model.Slika)" style="width:400px;height:320px;" align="left" />

        </div>
        <div class="col-xl-5">
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="20"></canvas>
                
                    @if (Model.KonacnaCijena != Model.Cijena)
                    {
                    <p class="product-details"><b>Cijena: </b><s>@Model.Cijena KM  </s> @Math.Round(decimal.Parse(Model.KonacnaCijena.ToString()), 2) KM</p>
                    }
                    else
                    {
                    <p class="product-details"><b>Cijena: </b>@Model.Cijena KM </p>}
                    <p class="product-details"><b>Šifra: </b>@Model.Sifra</p>

                    @if (Model.Brojac > 1)
                    {
                        <p class="product-details">
                            <b>Boja: </b>
                            <select name="BojaID">

                                @foreach (var x in Model.Boje)
                                {
                                    <option value="@x.Value">@x.Text</option>
                                }
                            </select>
                        </p>
                    }
                    else
                    {
                        <input type="hidden" name="BojaID" value="@Model.BojaID" />
                        <p class="product-details"><b>Boja: </b>@Model.Boja</p>
                    }

                    <p class="product-details">
                        <b>Vrsta: </b>@Model.Vrsta
                    </p>

                    <input type="hidden" name="ProizvodId" value="@Model.ProizvodId" />

                    @if (Context.GetLogiraniKorisnik() == null)
                    {
                        <div></div>
                    }
                    else
                    {
                        <div class="form-group product-details">
                            <label>Količina : </label><br />
                            <input asp-for="kol" class="form-control" style="width:50px;" /><br />
                            <span asp-validation-for="kol" class=" text-danger"></span>
                        </div>
                    }
                    @if (Context.GetLogiraniKorisnik() != null)
                    {
                        <input class="btn btn-primary" type="submit" value="Dodaj u košaricu" />

                    }
                </div>
            </div>

    </div>


    @if (Context.GetLogiraniKorisnik() == null)
        {
            <div>Da biste dodavali proizvode u košaricu potrebno je da se logirate</div>
            <a class="btn btn-primary" href="/Autentifikacija/Index">Login</a>

        }
      
    
</form>
<br />


<i class="fas fa-caret-left"></i><a href="/ModulKupac/Proizvodi/Index">Nazad</a>

<br />
<br />
<br />

<div id="komOcjeneID"></div>

    <script>
    $(document).ready(function(parameters) {
        $.get("/ModulKupac/Recenzije/Index?proizvodId=@Model.ProizvodId",
            function(rezultat, status) {
                $("#komOcjeneID").html(rezultat);

            });
    });
    </script>



