@model eNamjestaj.Web.Areas.ModulKupac.ViewModels.ProizvodiIndexVM
@using Microsoft.AspNetCore.Http
@using eNamjestaj.Data.Helper
@using eNamjestaj.Data.Models

@{
    if (Context.GetLogiraniKorisnik() == null)
    {
        Layout = "_LayoutAnonim";
    }
}

<div id="page-wrapper">
    <div style="margin-left:40px; margin-right:30px">

        <br /><br />
        <h1 style="margin-left:20px;">Artikli</h1>

        <form action="/ModulKupac/Proizvodi/Index">
            <select style="margin-left:20px;" name="vrstaID">
                <option>(Odaberite vrstu namještaja)</option>
                @foreach (var x in Model.Vrste)
                {
                    <option value="@x.Value">@x.Text</option>
                }
            </select>
            <select style="margin-left:20px;" name="bojaID">
                <option>(Odaberite boju namještaja)</option>
                @foreach (var x in Model.Boje)
                {
                    <option value="@x.Value">@x.Text</option>
                }
            </select>

            <input type="submit" value="Pretraga" class="btn btn-primary" />
        </form>
        <br />

        <br />
        <div class="container">
            <div class="row">

                @foreach (var x in Model.Proizvodi)
                {
                    <div class="col-sm-4 col-sm-4 col-sm-4">
                        <div style="height:450px;" class="thumbnail">
                            @if (x.Popust != null && x.Popust != 0)
                            {
                                <p style="float:right">- @x.Popust %</p>
                            }
                            <p> <h3>@x.Naziv  </h3> </p>
                            <img src=@x.Slika class="img-thumbnail" style="width:242px;height:200px" />
                            <div class="caption" align="left">
                                @if (x.KonacnaCijena != null)
                                {<p><b>Cijena: </b><s>@x.Cijena KM  </s> @Math.Round(decimal.Parse(x.KonacnaCijena.ToString()), 2) KM</p>}
                            else
                            {<p><b>Cijena: </b>@x.Cijena KM </p>}
                                <p><b>Šifra: </b>@x.Sifra</p>
                                <p><b>Boja: </b>@x.Boja</p>

                                <p>

                                    <a href="/ModulKupac/Proizvodi/Detalji?ProizvodId=@x.Id&brojac=@x.BrojacBoja" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                        Detalji
                                    </a>


                                </p>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>

    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


